/***** Table of Contents *****/
/* I. Tables
/* II. Buttons
/* III. Corners
/* IV. Cards
/* V. El Form Inputs
/* VI. Cursors
/* VII. Colors
/* VIII. Dividers
/* IX. Profile
/* X. Texts
/* XI. Pagination
/* XII. Containers
/* XIII. Backgrounds
/* XIV. Shadows
/* XV. List styles
/* XVI. Objects
/* XVII. Visibility 

/***** End of Table of Contents *****/

/***** I. Start of Tables *****/
.table-w-100 {
  display: table;
  width: 100%;
}
.table-cell-va-middle {
  display: table-cell;
  vertical-align: middle;
}
/***** End of Tables *****/

/***** II. Start of Buttons *****/
.btn-green-play {
  background: #02b5bb;
  color: white;
  &:hover {
    background: #05e0e7;
    color: white;
  }
  i {
    padding-left: 5px;
  }
}
.btn-green-inverse {
  background: none;
  color: #8dba23;
  border: 1px solid #8dba23;
  &:hover {
    background: #8dba23;
    color: white;
  }
}
.btn-orange {
  background: #eb7e10;
  color: white;
  &:hover {
    background: #fb9027;
    color: white;
  }
}
.btn-orange-inverse {
    background: none;
    color: #EB7E10;
    border: 1px solid #EB7E10;
    &:hover {
        background: #fb9027;
        color: white;
    }
}
.btn-white {
  &.regular {
    background: #fff;
    color: #212529;
    border: 1px solid #a8a8a8;
    &:hover {
      background: white;
      color: #212529;
    }
  }
  &.blue {
    background: white;
    color: #0088cc;
    &:hover {
      background: white;
      color: #009eec;
    }
  }
}
.btn-blue {
  background: #0776BC;
  color: white!important;
  &:hover {
    background: #009eec;
  }
}
.btn-red {
  background: #ff4a4a;
  color: white!important;
  &:hover {
    background: #e73535;
  }
}
/***** End of Buttons *****/

/***** III. Start of Corners *****/
.corner-rounded {
  border-radius: 5px !important;
}
.corner-circle {
  border-radius: 50% !important;
}
.corner-pill {
  border-radius: 500px !important;
}
.corner-20px {
  border-radius: 20px;
}
.corner-22px {
  border-radius: 22px;
}
/***** End of Corners *****/

/***** IV. Start of Cards *****/
.card-default {
  background: #fff;
  box-shadow: 0 5px 15px #00000014;
}
/***** End of Cards *****/

/***** V. Start of El Form Inputs *****/
.el-radio-group.blue-input {
  display: block;
  .el-radio__input {
    &.is-checked,
    &.is-indeterminate {
      .el-radio__inner {
        background-color: #0088CC !important;
        border-color: #0088CC !important;
      }
    }
    + .el-radio__label {
      color: black !important;
    }
  }
}

.el-checkbox {
  &.blue-input {
    color: black;
    position: relative;
    top: -1px;
    .is-checked,
    .is-indeterminate {
      .el-checkbox__inner {
        background-color: #0088CC;
        border-color: #0088CC;
      }
      + .el-checkbox__label {
        color: black!important;
      }
    }
  }
}

.el-radio {
  &.blue-input {
    .el-radio__input {
      &.is-checked {
        .el-radio__inner {
          border-color: #0088CC;
          background: #0088CC;
        }
      }
    }
    .el-radio__label {
      color: black;
    }
  }
}

.el-phone {
  border: 1px solid #dcdfe6 !important;
  height: 40px;
  input {
    font-size: 14px;
  }
}

.el-table-dark {
    border: 1px solid #575757;
    th {
        background: #575757;
        color: white;
    }
}

.el-input-number {
  .el-input {
    input {
      text-align: left;
    }
  }
}

.el-uppercase {
  input {
    text-transform: uppercase;
  }
}
/***** End of El Form Inputs *****/

/***** V. Start of Cursors *****/
.clickable {
  cursor: pointer;
}
.dis-pointer {
  cursor: not-allowed;
}
.no-pointer {
  pointer-events: none;
}
/***** End of Cursors *****/

/***** VI. Start of Colors *****/
.color-3A3A3A {
  color: #3a3a3a;
}
.color-EB7E10 {
  color: #eb7e10;
  &:hover {
    color: #fb9027;
  }
}
.color-8DBA23 {
  color: #8dba23;
}
.color-066B35 {
  color: #066b35;
}
.color-077BFF {
  color: #077bff;
  &:hover {
    color: #0052af;
  }
}
.color-FF2C2C {
  color: #ff2c2c;
}
.color-8E8E8E {
  color: #8e8e8e;
}
.color-636568 {
  color: #636568;
}
.color-065E99 {
  color: #065E99!important;
}
.color-005B97 {
  color: #005B97
}
/***** End of Cursors *****/

/***** VIII. Start of Dividers *****/
.divider-1 {
  border: 1px solid #dcdcdc;
}
.divider-2 {
  border: 7px solid #005B97;
}
/***** End of Dividers *****/

/***** IX. Start of Profile *****/
#profile {
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 89vh;
    .con-user {
        background: #f9f9f9;
    }
}

.txt-profile-header {
    font-size: 22px;
    &.medium {
        font-size: 30px;
    }
}

.image-upload {
   &.regular {
    .corner-circle {
      overflow: hidden;
      width: 200px;
      height: 200px;
      text-align: center;
      border: 2px solid black;
      &.default {
        padding: 18px;
      }
    }
    .con-image {
      max-height: 225px;
    }
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
    i.fa-image {
      color: #a8a8a8;
      &.small {
          font-size: 10rem;
      }
      &:not(.small) {
          font-size: 14rem;
      }
    }
    .choose-blue-bar {
      margin-top: 1rem;
      background: #0088cc;
      border-radius: 4px;
      width: fit-content;
      color: #fff;
    }
  }
}

.actions {
  &.same-size {
    button, a {
      padding-right: 0px;
      padding-left: 0px;
      width: 35px;
      height: 35px;
    }
  }
}
/***** End of Profile *****/

/***** X. Start of Texts *****/
/***** End of Texts *****/

/***** XI. Start of Pagination *****/
.blue-pagination {
    .page-item {
    &.disabled:first-of-type {
      .page-link {
        background: none;
        border: none;
        color: black;
      }
    }
    &.active {
      .page-link {
        background-color: #0088CC;
        border-color: #0088CC;
      }
    }
    .page-link {
      background-color: #9B9B9B;
      border-color: #9B9B9B;
      margin: 0 3px;
      color: white;
      border-radius: 3px;
    }
  }
}
/***** End of Pagination *****/

/***** XII. Start of Containers *****/
.main-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
}
.modal {
  :not(#password-request-reset) {
    z-index: 9999999999!important;
  }
}
.mh-75 {
  min-height: 75vh;
}

.mh-50 {
  min-height: 50vh;
}
/***** End of Containers *****/

/***** XIII. Start of Backgrounds *****/
.bg-065E99 {
  background: #065E99;
}
.bg-DDE8ED {
  background: #DDE8ED;
}
.bg-DDE8ED {
  background: #DDE8ED;
}
/***** End of Backgrounds *****/

/***** XIV. Start of Shadows *****/
.filter-1 {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bs-0 {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}
.bs-1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}
/***** End of Shadows *****/

/***** XV. Start of List styles *****/
.list-style-type-disc {
  list-style-type: disc;
}
/***** End of Discs *****/

/***** XVI. Start of Objects *****/
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.object-fill {
  object-fit: fill;
}
.object-none {
  object-fit: none;
}
.object-scale-down {
  object-fit: scale-down;
}
.object-center {
  object-position: center;
}
/***** End of Objects *****/

/***** XVI. Start of Visibility *****/
.vis-hidden {
  visibility: hidden;
}
.vis-shown {
  visibility: visible!important;
}
/***** End of Visibility *****/

html,
body,
.wrapper {
  min-height: 100%;
  overflow-x: hidden;
}

body:not(.modal-open) {
  padding-right: 0px !important;
}

.yellow-star {
  color: #ffb503;
  padding-right: 3px;
  font-size: 14px;
}

.note-small {
  font-size: 12px;
}

.small-auth {
  font-size: 22px;
}

.con-search-button {
  &.custom {
    position: relative;
    min-height: 72px;
    .btn-search-report {
      position: absolute;
      bottom: 0px;
    }
  }
}

.el-input-group-append {
    &.custom {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
.input-group-append {
  &.custom {
    z-index: 5;
    button {
      cursor: pointer;
    }
  }
}

.country-select,
.region-select {
  font-size: 14px;
  height: 40px;
  &::v-deep option {
    color: black;
  }
  &:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
  }
  &:disabled,
  &:required
  &:invalid {
    background-color: rgb(192, 196, 204);
    border-color: rgb(192, 196, 204);
    &:hover {
      cursor: not-allowed;
    }
  }
}

.upper-right-close {
  margin: 5px;
  color: #fff !important;
  text-shadow: none !important;
  background: #7e7e7e !important;
  height: 20px;
  min-width: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 1 !important;
  font-size: 17px !important;
  padding-top: 0px !important;
  &:focus {
    outline: none 0px;
  }
}
#about{
  .inquiries{
    text-align: center;
    padding: 0.3em;
    margin-left: 5%;
    background-color: #fed8b1;
    margin-top: 5%;
    font-weight: bold;
    line-height: 20px;
    width: 90%;
    // @media only screen and (max-width: 767px) {
    //   margin-left: 3%;
    // }
  }
}
@media only screen and (max-width: 492px) {
  .el-select-dropdown {
    &.el-popper {
      max-width: 320px;
      .el-select-dropdown__item {
        // height: 80px;
        span {
          white-space: normal;
        }
      }
    }
  }

  .el-message-box {
    width: auto!important;
  }

  #speakers-registration, #international-delegates-registration,
  #local-pds-delegates-registration, #local-nonpds-md-delegates-registration,
  #local-nonpds-roa-registration  {
    form{
      padding: 2rem 0 !important;
      box-shadow: none;
      .px{
        padding: 0 10px;
      }
      input{
        padding: 0 5px !important;
      }
    }
    .bs-1{
      box-shadow: none !important;
    }
    .px-5 {
      padding-right: 1rem!important;
      padding-left: 1rem!important;
    }
    h2{
      font-size: 1rem !important;
    }
    .options{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      label{
        margin: 5px 20%;
      }
    }
    .bs-2{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, .25) !important;
      width: 50%;
      margin: 0 auto;
    }
  }

  #thank-you{
    padding: 1em;
    .container{
      height: 100vh;
      button{
        font-size: 25px !important;
        line-height: 30px !important;
        width: 100% !important;
      }
      .message{
        font-size: 22px !important;
        line-height: 30px !important;
      }

      .w-25{
        width: 50% !important;
      }
    }
  }
}

.vcc-page-content{
	// margin-top: 5em !important;
  height: auto;

}

.lh-12{
  line-height: 12px;
}
.fs-1em{
  font-size: 1em;
}
.fs-1-2em{
  font-size: 1.2em;
}